<form method="POST" action="/book/<%= @book.id %>">
  <input type="hidden" name="_method" value="PUT">

  <input type="text" name="book[title]" value="<%= @book.title %>">
  <input type="text" name="book[author]" value="<%= @book.author %>">
  <button>Save</button>
</form>