<p>Enter a new Menu item</p>

<form method="POST" action="/menu">
  <label>
    Name:
    <input type="text" name="name">
  </label>

  <label>
    Price:
    $<input type="text" name="price">
  </label>

  <input type="submit" />
</form>